__pycache__/\n*.log\n*.bak\n*.bak2\ncookies.txt
__pycache__/
*.pyc
codex700.db
codex700.db
server.log
patch.py
admin_panel.py.before_user_controls
admin_panel_backup_20260908_220022/
admin_panel_backup_20260908_222208.py
admin_ui_backup_20260908_214345/
app.py.before_admin_upgrade
app.py.before_fast_auth
app.py.before_fast_home
app.py.before_home_design_20260909_070511.py
app.py.before_login_design_20260909_065155.py
app.py.before_my_full
app.py.before_my_page_20260909_072345.py
app.py.before_my_page_retry_20260909_072501.py
app.py.before_nozoom_20260909_070857.py
app.py.before_safe_admin_20260908_223211
app.py.before_smooth_scroll_20260909_071759.py
app.py.broken_login2_20260909_065739.py
app.py.broken_login_20260909_065637.py
app_backup_20260908_222209.py
templates/invest.html.before_admin_upgrade
